module.exports = {
  apps : [{
    name: 'soc-remote-nuxt',
    script: './server/index.js',
    cwd: '{{ service_install_dir }}',

    // Options reference: https://pm2.keymetrics.io/docs/usage/application-declaration/
    //args: 'one two',
    instances: 'max',
    autorestart: true,
    watch: false,
    max_memory_restart: '1G',
    env: {
      NODE_ENV: 'development'
    },
    env_production: {
{% for variable_name, value in service_environment.items() %}
      {{ variable_name }}: '{{ value }}',
{% endfor %}
{% if sentry_dsn != '' %}
      SENTRY_DSN: '{{ sentry_dsn }}',
{% endif %}
      NODE_ENV: 'production'
    }
  }],
};
