echo "`date`: Starting socializeremotely as `whoami`" | logger -t "[soc-start]"

{% for variable_name, value in service_environment.items() %}
export {{ variable_name }}="{{ value }}"
{% endfor %}

if [ ! -f /opt/hx/shared/hxjwt/hxjwt_private ]
then
    uuidgen > /opt/hx/shared/hxjwt/hxjwt_private
fi
HXJWT_PRIVATE=$(cat /opt/hx/shared/hxjwt/hxjwt_private)

echo "env is configure as:" | logger -t "[soc-start]"
printenv | logger -t "[soc-start]"

cd /opt/hx/socializeremotely/socializeremotely
/usr/bin/node ./server/index.js 2>&1 | logger -t "[soc]"

