#
# from https://ispire.me/running-multiple-instances-of-varnish-using-systemd/
#
[Unit]
Description=Varnish Cache HTTP acceleration NCSA logging daemon multi-instance
CondititonPathExists=/etc/default/varnishncsa-%I
After=varnish@%I.service

[Service]
Type=forking
Restart=always
RestartSec=5
User=varnishlog
Group=varnish
EnvironmentFile=/etc/default/varnishncsa-%I
ExecStart=/usr/bin/varnishncsa -D -a -w /var/log/varnish/%I.log -t off -n %I $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
